.Weather {
    border: 1px solid #dadde1;
    font-family: arial, sans-serif;
    color: rgb(135, 135, 135);
    padding: 16px;
    margin: 30px auto;
    
    border-radius: 5px;
}
.Weather form {
    margin: 10px;
}
.Weather h1 {
    color: #878787;
    font-size: 24px;
    margin: 20px 0 0 0;
    line-height: 29px;
}
.Weather ul {
    margin: 0;
    padding: 0;
}
.Weather li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}
.Weather .temperature {
    font-weight: bold;
    color: rgb(33, 33, 33);
    line-height: 64px;
    font-size: 64px;
    font-weight: 400;
}
.Weather canvas {
position: relative;
bottom: -5px;
margin-right: 10px;
display: inline-block;
}
.Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 1;
    top: -32px;
}